.title{
    margin-top: 1%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.updateText{
    margin-left: 1%;
    text-align: left;
}
table,th{
    border: 1px solid black;
    width: 100%;
    background-color: #80ffff;
}
table,td{
    border: 1px solid black;
    width: 100%;
    background-color: white;
}